/* styles/RegisterForm.module.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  width: 400px;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form h1 {
  text-align: center;
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}

.form label {
  display: block;
  margin-bottom: 10px;
  color: #333;
  font-size: 18px;
  margin-bottom: 24px;
}

.form input {
  width: 100%;
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
}

.form button {
  width: 100%;
  padding: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 15px;
}

.form button:hover {
  background-color: #0056b3;
}

.error {
  color: #ff0000;
  font-size: 20px;
  margin-bottom: 16px;
  text-align: center;
}

.Link {
  text-decoration: none;
  font-size: 20px;
  color: blue;
}

.Link:visited {
  text-decoration: none;
  color: blue;
}

.showPasswordButton {
  display: inline;
  position: absolute;
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
  z-index: 100;
  transform: translate(-115%, 20%);
}

.showPasswordButton svg {
  font-size: 22px;
  color: #555;
}
