/* styles/Borrows.module.css */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.borrowList {
  display: grid;
  gap: 20px;
}

.emptyMessage {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #777;
}
